* {
    box-sizing: border-box;
}

#fixed {
    position: fixed;
    top: 50px;
    right: 50px;
    display: inline;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.center_align {
    /* id는 # */
    margin: 0 auto;
    width: 1080px;
}

/* #header_search{
    text-decoration: underline;
} */

/******************************** header *******************************/

header {
    height: 170px;
}

#header_search {
    clear: both;
}

#header_top {
    /* text-align: right; */
    position: absolute;
    right: 0;
    top: 0;
    /* float: right; */
    font-size: 11px;
    color: #404040;
}

#ico_j_naver {
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -262px -330px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px;
    background-image: url("./sp_main.png");
    background-size: 457px 434px;
}

#ico_j_naver:hover {
    background-position: -200px -330px;
    cursor: pointer;
}

#ico_happy_bin {
    display: inline-block;
    width: 34px;
    height: 11px;
    background-position: -369px -299px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 3px 2px;
    background-image: url("./sp_main.png");
    background-size: 457px 434px;
}

#ico_happy_bin:hover {
    background-position: -380px -199px;
    cursor: pointer;

}

#header_search a {
    /* display: inline-block; */
    text-decoration: none;
}

#header_search .search_keyboard {
    position: absolute;
    top: 50%;
    left: 82%;
    display: inline-block;
    width: 20px;
    height: 12px;
    background-position: -420px -402px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: -6px 0 0 -10px;
    background-image: url("./sp_main.png");
    background-size: 457px 434px;
}

#header_search .search_history {
    position: absolute;
    top: 60%;
    left: 88%;
    display: inline-block;
    width: 10px;
    height: 5px;
    background-position: -408px -100px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: -6px 0 0 -10px;
    background-image: url("./sp_main.png");
    background-size: 457px 434px;
}

#header_search h1 {
    /* 자식태그는 > 로 이렇게 찾는군여 */
    width: 224px;
    height: 55px;
    display: inline-block;
    background: url("./sp_main.png") 0px -156px no-repeat;
    /* background-image: url("./sp_main.png");
    background-repeat: no-repeat;
    background-position: 0px -156px; */
    background-size: 454px 434px;
    vertical-align: middle;
    position: relative;
    top: -6px;
}

#header_search h1>span {
    display: none;
}

#header_search h2 {
    display: none;

}

#header_search fieldset {
    margin-left: 20px;
    /* padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px; 
    위 오른쪽 아래쪽 왼쪽 시계방향 */
    padding: 12px 0px 12px 10px;
    width: 521px;
    height: 49px;
    display: inline-block;
    border: 2px solid #03cf5d;
    vertical-align: middle;
    position: relative;

    /* relative는 자신의 위치를 기반으로 움직이는거고
    absolute는 자신의 컨테이닝 블록을 기반으로 위치를 잡음 */
}

#header_search fieldset input {
    vertical-align: top;
    width: 405px;
    height: 23px;
    border: none;
    padding: 0;
    outline: none;

}

/* #header_center h1{
    자손태그는 한칸 띄워서 찾습니다.
    보통은 꺽쇠(>) 쓰기 귀찮아서 자손선택으로 많이합니다.
} */

#header_search fieldset button {
    width: 49px;
    height: 49px;
    outline: none;
    border: none;
    padding: 0;
    background-color: #03cf5d;
    position: absolute;
    right: -1px;
    top: -2px;
}

#search_image {
    background-image: url(./sp_main.png);
    background-position: -420px 0px;
    background-repeat: no-repeat;
    background-size: 457px 434px;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 14px;
}

/******************************** nav *******************************/

nav {
    height: 46px;
    border-top: 1px solid #f1f3f6;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav .black_nav_item {
    color: black;
}

nav li>a {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #03cf5d;
    letter-spacing: -.3px;
    text-decoration: none;
}

nav .nav_item {
    display: inline-block;
    margin-left: 6px;
}

nav li .ico_mail {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: -420px -73px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 9px 0 0;
    background-image: url("./sp_main.png");
    background-size: 457px 434px;
}

nav li .ico_TV {
    display: inline-block;
    width: 12px;
    height: 14px;
    background-position: -444px -49px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 9px 2px 0 0;
    background-image: url("./sp_main.png");
    background-size: 457px 434px;
}