*{
    box-sizing: border-box;
}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
#header_center {
    /* id는 # */
    margin: 0 auto;
    width: 1080px;
}
/* #header_search{
    text-decoration: underline;
} */
#header_search a{
    /* display: inline-block; */
    text-decoration: none;
}

#header_search h1 {
    /* 자식태그는 > 로 이렇게 찾는군여 */
    width: 224px;
    height: 55px;
    display: inline-block;
    background: url("./sp_main.png") 0px -156px no-repeat;
    /* background-image: url("./sp_main.png");
    background-repeat: no-repeat;
    background-position: 0px -156px; */
    background-size: 454px 434px;
    vertical-align: middle;
}
#header_search h1>span{
    display: none;
} 
#header_search h2 {
    display: none;

}

#header_search fieldset {
    
    margin-left: 20px;
    /* padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px; 
    위 오른쪽 아래쪽 왼쪽 시계방향 */
    padding: 12px 0px 12px 10px; 
    width: 521px;
    height: 49px;
    display: inline-block;
    border: 2px solid #03cf5d;
    vertical-align: middle;
}
#header_search fieldset input{
    border: none;
    padding: 0;
    outline: none;

}
/* #header_center h1{
    자손태그는 한칸 띄워서 찾습니다.
    보통은 꺽쇠(>) 쓰기 귀찮아서 자손선택으로 많이합니다.
} */

#header_search fieldset button{
    width: 49px;
    height: 49px;
    outline: none;
    border: none;
    padding: 0;
    background-color: #03cf5d;

}

#search_image{
    background-image: url(./sp_main.png);
    background-position: -420px 0px;
    background-repeat: no-repeat;
    background-size:457px 434px;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 14px;
}